.Grid-Container{
    margin: 1em;
    width: 400px;
    height: 400px;
    background-color: bisque;
    display: grid;
    outline: 0.4em;
    outline-style: solid;
    outline-color: black;
}

.Grid-Row {
    display: grid;
}

.Grid-Cell {
    border: 0.2em;
    border-style: solid;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Grid-Cell.border-top {
    border-top-color: black;
}

.Grid-Cell.border-bottom {
    border-bottom-color: black;
}

.Grid-Cell.border-left {
    border-left-color: black;
}

.Grid-Cell.border-right {
    border-right-color: black;
}

.Ball {
    background-color: red;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.Bit {
    background-color:darkblue;
    width: 50%;
    height: 50%;
}
