.GS_Container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.GS_Title{
    width:100%;
    text-align: center;
}

.GS_Button_Alignment {
    display: flex;
    flex-direction: column;
}

@media (min-width: 65em) {
  .GS_Button_Alignment {
    flex-direction: row;
    justify-content: space-between; 
  }
}

.GS_Button {
    margin: 1em;
    height: 10em;
    width: 25em;
}